/* Base styles */
body {
    background-color: #F7F7F5;
    color: #111111;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Utility for raw HTML content */
.prose h1, .prose h2, .prose h3 {
    font-weight: 700;
    letter-spacing: -0.025em;
    color: #111111;
    margin-bottom: 0.5em;
}
.prose p {
    margin-bottom: 1.5em;
    line-height: 1.625;
}
.prose a {
    color: #D47E53;
    text-decoration: none;
}
.prose a:hover {
    text-decoration: underline;
}